@font-face { 
	font-family: yaelHand; src:url('images/Yael_fineliner-Regular.ttf');
}


.responsiveComic{
	overflow:scroll;
	display:flex;	
	
}

.responsiveComic img{
	height: 100vh;
	width: auto;
	max-height: 700px;

}

.nav{
position: absolute;
right: 20px;
}